.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-header {
  text-align: center;
}

.mat-form-field, button{
  width:350px !important;
}

button {
  height: 50px;
}


.container {
  .mat-form-field-outline,
  .mat-form-field-empty.mat-form-field-label,
  .mat-form-field-label,
  .mat-form-field-underline,
  .mat-input-element,
  ::placeholder {
    color: rgb(255, 255, 255) !important;
  }
}