<div class="page-content">
    <div class="content-header">
        <h1>
            Create new Product
        </h1>
    </div>
    <div class="form-content">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Amount Available</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Cathegory</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button class="btn--primary" color="primary" aria-label="Save Product">
            Save
        </button>
    </div>
</div>