<div class="page-content">
    <div class="content-header">
        <h1>
            Create new Product
        </h1>
    </div>
    <form (submit)="saveProduct()" [formGroup]="createProductForm" class="form">
        <div class="form-content">
            <mat-form-field appearance="fill">
                <mat-label style="color:rgb(171, 171, 171)">Name</mat-label>
                <input formControlName="name" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label style="color:rgb(171, 171, 171)">Price</mat-label>
                <input formControlName="price" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label style="color:rgb(171, 171, 171)">Amount Available</mat-label>
                <input formControlName="amountAvailable" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label style="color:rgb(171, 171, 171)">Description</mat-label>
                <input formControlName="description" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label style="color:rgb(171, 171, 171)">Cathegory</mat-label>
                <mat-select formControlName="cathegoryId">
                    <mat-option *ngFor="let cathegory of cathegories" [value]="cathegory.id">
                        {{ cathegory.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button class="btn--primary" color="primary" aria-label="Save Product" type="submit">
                Save
            </button>
        </div>
    </form>
</div>